{% extends "base.html" %}%}
{% load static %}

{% block content %}

    <style>
        .error-container {
            min-height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .error-box {
            width: 90%;
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
        }
        
        img {
            filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
        }
    </style>

    <div class="container error-container">
        <div class="error-box text-center">
            <img src="{% static 'img/error-illustration.svg' %}" alt="Oops illustration"  class="mb-3 mt-3"  style="width: 180px; max-width: 100%;" />

            <h1 class="display-6 text-danger mb-3">⚠️ Oops!</h1>
            <p class="lead mb-4 text-main">Page you requested cannot be found</p>

            <a href="{% url 'home' %}" class="btn btn-outline-perfectblue">
                ← Go Back
            </a>
        </div>
    </div>


{% endblock %}